/*

Kevin Powell video about reponsive layout with grid:
https://www.youtube.com/watch?v=sKFW3wek21Q

CSS Product Card examples:
1. https://codepen.io/olhilton/pen/dXaqxE
2. https://codepen.io/mdshifut/pen/VrwBJq
3. https://codepen.io/jphillippe/pen/yLLwoMO
4. https://codepen.io/cristinaconacel/pen/NOYoGX
5. https://codepen.io/wingerdstok/pen/WjrPZY
6. https://codepen.io/ksu/pen/PoYxVWq


*/

.product-card {
    display: block;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 1 / 1.50;
}

.product-img {
    aspect-ratio: 1 / 1.25;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.product-content {
    opacity: 1;
    width: 100%;
    padding: 0 .5em;
    background-color: bisque;
    transform: translateY(0%);
    transition: transform 500ms;
}

.product-content:hover {
    transform: translateY(-70%)
}

.product-tags {
    position: absolute;
    top: 0%;
}

.product-summary {
    grid-column: span 4;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-items: center;
    gap: .5em;
    aspect-ratio: 1 / 0.30;
}

.product-name {
    position: relative;
    grid-column: 1 / 2;
    font-size: 1.2rem;
    line-height: 1.1;
}


/*Looks like I need to add another HTML Element instead*/
/* .product-name::before {
    content: '-><-';
    position: absolute;
    top: -25%; left: 50%;
    transform: translate(-50%, -50%);
} */

.product-price {
    grid-column: 2 / 3;
    font-size: 1rem;
    font-weight: 600;
}

.options {
    grid-column: span 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .5rem;
}

.options-type {
    font-size: 1.1rem;
}

.options-list {
    display: flex;
    gap: .2em;
}

.size {
    border-radius: 50%;
    background-color: lightgray;
    width: 2.5em; height: 2.5em;
    cursor: pointer;
    text-align: center;
    line-height: 2; /*Center*/
}

.color {
    border-radius: 50%;
    width: 2.5em; height: 2.5em;
    cursor: pointer;
}

.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}

.options-buttons {
    display: flex;
    align-items: center;
    aspect-ratio: 1 / 0.30;
}

.add-to-cart {
    border: none;
    font-weight: 600;
    background-color: aqua;
    padding: .60em;
    margin: 0 0 3em 0;
    border-radius: 30px;
    cursor: pointer;
}